body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-image: url('/img/header.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    text-align: center;
}

header span {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 36px;
    font-weight: bold;
    backdrop-filter: blur(2px);
    color: black;
}

#burger-section {
    background-color: black;
    color: white;
    padding: 30px 40px;
    border: 2px dotted white;
    margin: 40px auto;
    max-width: 1200px;
}

.burger-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.burger-item {
    background-color: #e5e5e5;
    border-radius: 6px;
    padding: 12px;
    color: black;
}

.burger-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

#customer-section {
    padding: 30px 40px;
    border: 2px dotted gray;
    margin: 40px auto;
    background-color: white;
    max-width: 900px;
}

#customer-section form {
    width: fit-content;
}

#customer-section input,
#customer-section select {
    width: 260px;
    padding: 6px;
    margin: 4px 0 14px 0;
    display: block;
}

#gender-section {
    margin-top: 20px;
}

.gender-title {
    font-weight: bold;
    margin-bottom: 12px;
}

.gender-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 14px;
    column-gap: 0px;
    align-items: center;
}


.gender-row {
    display: contents;
}

.gender-row input[type="radio"] {
    justify-self: end;
}

.gender-row label {
    justify-self: start;
}

#map-section {
    margin-top: 40px;
}

#map-container {
    max-width: calc(1920px + 50px);
    padding: 0 25px;
    margin: 0 auto;
}

#map-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 1078;
    overflow: scroll;
    border: 2px solid #ccc;
}

#map-image {
    width: auto;
    height: auto;
    object-fit: contain;
    cursor: crosshair;
}

#marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background: blue;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

button {
    margin: 30px auto;
    display: block;
    padding: 12px 28px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background-color: #111;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}